# Bases de datos grandes
*.csv
*.dta
*.xlsx
*.xls
*.rdata
*.rda
*.sav
*.sas7bdat
*.feather
*.parquet
*.h5
*.hdf5
*.nc

# Directorios con datos
src/original_data/
bld/out/data/

# Scripts específicos
src/scripts/estimation_y_aux.R
src/scripts/stats_aux.R